.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 116, 116, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  color: rgb(2, 204, 255);
}

.contenido-modal {
  background: rgb(44, 44, 44);
  padding: 20px;
  border-radius: 15px;
  text-align: center;
}

.quit-button {
  background: rgb(255, 0, 0);
  padding: 5px;
  color: white;
  text-align: center;
}

.quit-button-holder {
  padding-left: 400px;
}

.boton-nombre {
  padding: 10px;
  background: blue;
  color: white;
  border-radius: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
